.image {
  &-ctn {
    width: 1200px;
    margin: 120px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0 40px;
    align-items: center;
    grid-template-rows: masonry;
    /* columns: 4;
    column-gap: 40px; */
    position: relative;
    min-height: 100vh;
    @include mqx(1200px) {
      columns: 3;
      width: calc(100% - 40px);
      box-sizing: border-box;
      padding: 20px 20px 20px 0;
    }
    @include mqx(768px) {
      columns: 2;
    }
    @include mqx(480px) {
      columns: 1;
    }
  }
  &-box {
    position: relative;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 19px;
    width: 100%;

    img {
      border-radius: 19px;
      max-width: 100%;
      width: 100%;
      overflow: hidden;
      height: 100%;
    }
    transition: all 0.5s ease-out;
  }
  &-box:hover > &-filter {
    visibility: visible;
    opacity: 100%;
  }
  &-filter {
    position: absolute;
    top: 0; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 100%;
    max-height: 100%;
    transition: all 0.5s ease-out;
    visibility: hidden;
    opacity: 0;
  }
  &-text-results{
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
  }
}
.not-found{
  font-size: 40px;
  font-weight: bold;
  margin-top: 100px;
}