/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box; }

body {
  background: #5039e7;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, #5039e7 0%, #7a58ff 32%, #a178ff 100%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%236446ec' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%237552f1' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23845ff6' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23936bfa' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23a178ff' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%239a72ff' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23926bff' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%238b65ff' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23835eff' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%237a58ff' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  min-width: 100%;
  max-width: 100%;
  height: 100%; }

.nav {
  display: flex;
  font-size: 18px;
  width: 100%;
  height: 46px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 12; }
  .nav-title {
    color: #fff;
    font-size: 35px;
    padding: 0 80;
    font-weight: bold;
    margin-left: 5px; }
  .nav-list {
    display: flex;
    list-style: none;
    margin-right: 30px;
    z-index: 10; }
  .nav-list li {
    border-radius: 3px;
    margin: 0 5px; }
  .nav-list li:hover,
  .nav li:active {
    text-shadow: 2px 2px 5px #999;
    transition: 0.4s; }
  .nav-list-item {
    display: block;
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase; }

#btn-nav {
  margin-right: 30px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none; }

ul.show {
  top: 65px; }

@media screen and (max-width: 952px) {
  .nav-title {
    font-size: 30px;
    padding-left: 35px; }
  .nav-list-item {
    font-size: 16px; } }

@media screen and (max-width: 858px) {
  .nav {
    height: 65px; }
  #btn-nav {
    display: inline-flex; }
  .nav-list {
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 65px);
    background-color: #7a58ff;
    top: 100vh;
    text-align: center;
    transition: all 0.4s; }
  .nav-list li {
    margin: 30px 0 0;
    line-height: 30px; }
    .nav-list li :hover {
      background: none; }
  .nav-list-item {
    font-size: 20px;
    font-weight: bold; }
  .nav-title {
    font-size: 25px;
    padding-left: 35px; } }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.search {
  margin-top: 35vh;
  position: absolute;
  padding: 5px;
  transition: all 0.6s ease-in-out; }
  .search input {
    border: 1px solid silver;
    font-size: 18px;
    outline: none;
    background-color: #f1f1f1;
    border-radius: 30px;
    width: 0px;
    height: 40px;
    padding: 0 20px;
    transition: all 0.6s ease;
    color: #000; }
  .search:hover input {
    width: 240px; }
  .search input:focus {
    width: 240px; }
  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #5039e7;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer; }
  .search-contract {
    margin-top: calc(100vh - 40%); }
  @media screen and (max-width: 858px) {
    .search {
      margin-top: 30vh;
      z-index: 9; }
      .search .search-contract {
        margin-top: calc(100vh - 300%); } }

.text-center {
  text-align: center; }

.justify-content-center {
  display: flex;
  justify-content: center; }

.select {
  width: 350px;
  transition: all 0.6s ease; }
  .select-ctn {
    display: flex;
    margin-top: 45vh;
    justify-content: center;
    transition: all 0.6s ease;
    width: 100%;
    visibility: hidden;
    opacity: 0; }
  .select-show {
    visibility: visible;
    opacity: 100%; }
  .select__control {
    background-color: #5039e7 !important;
    border: 1px solid #7a58ff !important;
    border-radius: 50px !important;
    color: #fff !important;
    font-weight: bold !important;
    font-size: 18px !important;
    height: 40px; }
  .select__placeholder {
    color: #fff !important;
    font-weight: bold !important;
    font-size: 18px !important; }
  .select__menu {
    color: #fff !important;
    font-weight: bold !important;
    font-size: 18px !important;
    max-height: 85vh !important; }
  .select__menu-list {
    background-color: #7a58ff !important;
    font-weight: bold !important;
    font-size: 18px !important; }
  .select__option {
    color: #fff !important;
    font-weight: bold !important;
    font-size: 18px !important;
    padding: 10px !important; }
  .select__single-value {
    color: #fff !important;
    font-weight: bold !important;
    font-size: 18px !important; }
  .select__option--is-focused {
    background: #a178ff !important;
    font-size: 18px;
    font-weight: bold !important;
    font-size: 18px !important; }
  .select__input {
    color: #fff !important;
    font-weight: bold !important;
    font-size: 18px !important; }
  .select__option--is-selected {
    background: #a178ff !important; }
  .select-contract {
    display: flex;
    margin-top: calc(100vh - 47.5%);
    justify-content: flex-end;
    visibility: visible;
    opacity: 100%; }
  @media screen and (max-width: 858px) {
    .select {
      margin-top: 43vh;
      position: relative; }
      .select__control {
        height: 50px !important; }
      .select__menu-list {
        max-height: 50vh !important; }
      .select__menu {
        margin-bottom: 15px !important; }
      .select-ctn {
        margin-bottom: 40px !important; }
      .select__option {
        font-size: 18px !important;
        line-height: 45px; }
      .select-contract {
        justify-content: center;
        margin-top: 10px; } }

/* @include mqmh(548px) {
  margin-top: 100vh - 57;
  &__control {
    height: 50px !important;
  }
  &__menu-list {
    max-height: 100vh - 50 !important;
  }
  &__menu {
    margin-bottom: 15px !important;
  }
  &-ctn {
    margin-bottom: 40px !important;
  }
  &__option {
    font-size: 18px !important;
    line-height: 45px;
  }
  &-contract {
    justify-content: center;
    margin-top: 0;
  }
  position: relative;
}
 */
.image-ctn {
  width: 1200px;
  margin: 120px auto;
  columns: 4;
  column-gap: 40px;
  position: relative; }
  @media screen and (max-width: 1200px) {
    .image-ctn {
      columns: 3;
      width: calc(100% - 40px);
      box-sizing: border-box;
      padding: 20px 20px 20px 0; } }
  @media screen and (max-width: 768px) {
    .image-ctn {
      columns: 2; } }
  @media screen and (max-width: 480px) {
    .image-ctn {
      columns: 1; } }

.image-box {
  position: relative;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 19px;
  width: 100%;
  transition: all 0.5s ease-out; }
  .image-box img {
    border-radius: 19px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    height: 100%; }

.image-box:hover > .image-filter {
  visibility: visible;
  opacity: 100%; }

.image-filter {
  position: absolute;
  top: 0;
  /* Position the background text */
  bottom: 0;
  /* At the bottom. Use top:0 to append it to the top */
  background: black;
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  /* Grey text */
  width: 100%;
  /* Full width */
  padding: 100%;
  max-height: 100%;
  transition: all 0.5s ease-out;
  visibility: hidden;
  opacity: 0; }

.image-text-results {
  font-size: 20px;
  font-weight: bold;
  margin-top: 100px; }

.not-found {
  font-size: 40px;
  font-weight: bold;
  margin-top: 100px; }
