$btn-gardient: linear-gradient(
  122deg,
  rgba(80, 57, 231, 1) 0%,
  rgba(122, 88, 255, 1) 35%,
  rgba(161, 120, 255, 1) 100%
);

$primary: #5039e7;
$secondary: #7a58ff;
$tither: #a178ff;
$for: #c798ff;
$success: #5039e7;

$gardient: linear-gradient(
  180deg,
  rgba(80, 57, 231, 1) 0%,
  rgba(122, 88, 255, 1) 32%,
  rgba(161, 120, 255, 1) 100%
);
$rgbc: rgb(80, 57, 231);
