.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.search {
  margin-top: 100vh - 65;
  position: absolute;
  padding: 5px;
  & input {
    border: 1px solid silver;
    font-size: 18px;
    outline: none;
    background-color: #f1f1f1;
    border-radius: 30px;
    width: 0px;
    height: 40px;
    padding: 0 20px;
    transition: all 0.6s ease;
    color: #000;
  }
  &:hover input {
    width: 240px;
  }
  & input:focus {
    width: 240px;
  }
  &-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $primary;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  &-contract {
    margin-top: 100vh - 90;
  }
}


@media screen and (max-width: 858px) {
  .search-contract{
    margin-top: 100vh - 85;
  }
}
