.select {
  width: 350px;
  margin-top: 100vh - 55;
  &__control {
    background-color: $primary !important;
    border: 1px solid $secondary !important;
    border-radius: 50px !important;
    color: #fff !important;
    font-weight: bold !important;
    font-size: 18px !important;
  }
  &__placeholder {
    color: #fff !important;
    font-weight: bold !important;
    font-size: 18px !important;
  }
  &__menu {
    color: #fff !important;
    font-weight: bold !important;
    font-size: 18px !important;
  }
  &__menu-list {
    background-color: $secondary !important;
    font-weight: bold !important;
    font-size: 18px !important;
    max-height: 100vh - 65 !important;
  }
  &__option {
    color: #fff !important;
    font-weight: bold !important;
    font-size: 18px !important;
  }
  &__single-value {
    color: #fff !important;
    font-weight: bold !important;
    font-size: 18px !important;
  }
  &__option--is-focused {
    background: $tither !important;
    font-size: 18px;
    font-weight: bold !important;
    font-size: 18px !important;
  }
  &__input {
    color: #fff !important;
    font-weight: bold !important;
    font-size: 18px !important;
  }
  &__option--is-selected {
    background: $tither !important;
  }
  @include mqx(858px) {
    margin-top: 100vh - 65;
    &__control {
      height: 50px !important;
    }
    &__menu-list {
      max-height: 100vh - 50 !important;
    }
    &__menu {
      margin-bottom: 15px !important;
    }
    &__option {
      font-size: 18px !important;
      line-height: 40px;
    }
    position: relative;
  }
}
