.select{
  color:#fff;
  background: #000;
}

.css-1wa3eu0-placeholder {
  color: #fff !important;
}
.react-select__control {
  color: #fff !important;
}
.css-1i091l0-control{
  border-radius: 33px !important;
  border: 1px solid $secondary !important;
}